:root{
--primary:#e52165;
--primary-light:#e52166a8;
--secondary:#0d1137;
--secondary-light:#0d1137a1;

}
::selection{
    color: var(--secondary);
    background-color: var(--primary);

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    text-decoration:none ;
}
 


img{
    width: 100%;
    height: 100%;
}

header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.37),rgba(0, 0, 0, 0.726)),url(/img/1112.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative ;
}

.header-content{
    background-color: var(--secondary);
    padding:50px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}

.logo{

    height: 100px ;
    
}

.nav-links{
    display: flex;

    width: 60%;
    justify-content: space-between;
    align-items: center;
}
  

.nav-links a{
    color: white;
}

.nav-links li::after{
    content: '';
    display: block;
    background-color: var(--primary);
    height: 2px;
    width: 0%;
    transition: all 300ms;

}

.nav-links li:hover:after{
    width: 100%; 
}


.burger{
    display: none ;
}


.bx-menu{
    color: white;

}


@media only screen and (max-width:600px) {
    .nav-links {

    /* display:none; */
    position: absolute;
    flex-direction: column;
    background-color: var(--secondary-light);
    right: -30px;
    top: 15vh;
    height: 50vh;
    width: 0;
    padding: 1.5rem 0;
    transition: all 300ms;
        }
    
     .burger{
        display: block;
      
     }   
}


.nav-show{
    width: 60%;
    right: 0px;

}


